/* Style */

a {
  color: #5c3566;
}

a:hover {
  color: #5c3566 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #555753;
}

header a:hover {
  text-decoration: none;
  color: #fff !important;
  border-bottom-color: transparent;
}

header.major p {
}

img.centered {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  }

  p.centered {
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2em;
    }
/* Videos */

.videocontainer {
  width: 80%;
  height: 0;
  padding-bottom: 45%;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.videocontainer iframe, .videocontainer embed, .videocontainer object {
  width: 100%!important;
  height: 100%!important;
  position: absolute;
  top: 0;
  left: 0;
}

/* Home page */

.inner a {
  color: #fff;
}

a .feature:hover:before {
  background: #5c3566;
  color: #eee;
}

.inner .quick-icons {
  padding: 1em;
  float:left;
}

.quick-icons {
  color: #fff;
  padding: 1em;
  opacity: 0.9;
}

.quick-icons .feature {
}

.quick-icons ul {
  margin: 0;
}

.quick-icons  li{
    padding: 0.2em;
    display: inline-block;
    text-decoration: none;
}

.quick-icons .feature:before{
    background: #fff;
}

.quick-icons .feature:hover:before{
    background: #5c3566;
    color: #fff;
}


table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

.candidates-summary {
  margin: 1em;
margin-bottom: 2em;
}

/* registration */
.checklist {
  border-style: solid;
  border-width: medium;
  border-radius: 1em;
  border-color: #204a87;
  padding: 1em 0 0 1.5em;
}

fieldset .checklist {
  border: solid;
  border-width: medium;
  border-radius: 1em;
  border-color: #204a87;
  padding: 1em 0 0px 2em;
  font-size: 90%;
  margin: 1em 6em 1em 1em;
}

.checklist li {
  text-decoration: none;
  padding: 0.2em;
  margin: 0.4em;
}

.checklist i {
  color: #204a87;
}

.left {
  float:left;
  margin: 10px;
}

.right {
  float:right;
  margin: 10px;
}

.clear {
  clear:both;
  margin:0;
}

form p {
  font-size: 90%;
}

form .icon {
  color: #204a87;
  float: left;
  font-size: 150%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="checkbox"],
input[type="radio"],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(144, 144, 144, 0.075);
  border-radius: 0.5em;
  border: none;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
  box-shadow: none;

}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="date"]:invalid,
input[type="tel"]:invalid,
input[type="checkbox"]:invalid,
input[type="radio"]:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:required:invalid,
input[type="password"]:required:invalid,
input[type="email"]:required:invalid,
input[type="date"]:required:invalid,
input[type="tel"]:required:invalid,
input[type="checkbox"]:required:invalid,
input[type="radio"]:required:invalid,
input[name="naissance"],
textarea:required:invalid {
  background: rgba(144, 144, 144, 0.075) url(../images/red-asterisk.png) no-repeat 98% center;
}


input[type="text"]:focus:required:invalid,
input[type="password"]:focus:required:invalid,
input[type="email"]:focus:required:invalid,
input[type="date"]:focus:required:invalid,
input[type="tel"]:focus:required:invalid,
input[type="checkbox"]:focus:required:invalid,
input[type="radio"]:focus:required:invalid,
textarea:focus:required:invalid {
  background-image: none;
  border-color: #a40000;
}

input:focus:required:valid
{
  border-color: #4e9a06;
  background-image: none;
  box-shadow: none;
}

input:required:valid
{
  border-color: #4e9a06;
  background-image: none;
  box-shadow: none;
}

input:focus, textarea:focus
{
  background-image: none;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -3em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
  height: 2.75em;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
.button.special {
  background-color: #5c3566;
}

.feature:before {
  color: #5c3566;
}

.slider .nav-previous {
  color: #ddd;
}

.icon {
  padding: 0.5em;
}

.wrapper.style1 .box {
  background-color: #f5f5f5;
}

.wrapper.style3 {
  background: #5c3566;
}

#header {
  background-color: #5c3566;
  color: #fff;
  opacity: 0.9;
}

#banner {
  background-image: url("../images/banner.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Section nav */


.subnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.subnav li {
    display: inline;
}

/* tracks */
b.yellow {
    color:#edd400;
}

b.blue {
    color:#204a87;
}

b.red {
    color:#a40000;
}

b.black {
    color:#2e3436;
}


#program, #rules, #results, #quotes, #photos, #videos {
    padding-top: 1.5em;
    padding-right: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
}

#program .icon {
    color: #204a87;
    float: left;
    font-size: 150%;
}


.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 90%;
  left: 0; top: 0;
}

/*
  JQuery autocomplete plugin
  Used for autocompletion of  associations during  registration form
*/


.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    background-color: #fff;
    border: solid 1px;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    width: 350px;
}

.ui-autocomplete  li:hover{
    background: #eee;
    color: #5c3566;
}

#association {
width: 350px;
}

/* DatePicker Container */
.ui-datepicker {
	width: 216px;
	height: auto;
	margin: 5px auto 0;
	font: 9pt Arial, sans-serif;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.ui-datepicker select {
	color: rgb(84, 84, 84);
	display: inline-block;
	width: 30%;
	height: 30px;
	font-size: 1em;
	font-weight: bold;
}

.ui-datepicker a {
	text-decoration: none;
	border: none;
}

/* Media page */


/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}

  .tab-links {
    background: #555753;
    border-radius: 0.5em;
    padding: 0.5em;
  }
  /*----- Tab Links -----*/

  /* Clearfix */
  .tab-links:after {
    display:block;
    clear:both;
    content:'';
  }

  .tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    font-size:16px;
    font-weight:600;
  }

  .tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
    border-radius: 0.5em;
  }
  .tab-links a{
    color:#5c3566 !important;
    background:#fff;
  }

  .tab-links a:hover {
    color:#5c3566 !important;
    background:#eee;
  }

  .tab-links li.active a{
    color:#fff !important;
    background: #5c3566;
  }

  .tab-links li.active a:hover {
    color:#fff !important;
    background: #5c3566;
  }


  /*----- Content of Tabs -----*/
  .tab-content {
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
  }

  .tab {
    display:none;
  }

  .tab.active {
    display:block;
  }

/*----- Benevoles -----*/
#accordion{
  width: 100%;
  padding: 0 0 1em 0;
}

#accordion .icon:before{
  padding: 0.5em;
}

#accordion h3{
  display:block;
  text-align:left;
  width:100%;
}

#accordion span.effectif{
  float:right;
  text-align:right;
  font-size: 80%;
}

#accordion .ui-state-default{
    border: 1px solid #2e3436;
    border-radius: 0.5em;
    border-color: #2e3436;
    background: #fff;
    color: #5c3566;
    margin: 0.5em;
    font-size: 90%;
}

#accordion .ui-state-default:hover{
    background: #5c3566;
    color: #fff;
}

#accordion .ui-accordion-content{
    background: #fff;
    color: #2e3436;
    border: none;
}
