AddDefaultCharset UTF-8
SetEnv PHP_VER 5
Options -Indexes
ErrorDocument 404 /404.php

<filesMatch "\.(html|htm|js|css|php)$">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>
